<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정규표현식</title>
    <style>
        .area{
            height: auto;
            background-color: palegoldenrod;
            border: blueviolet;
            color: brown;
        }
    </style>
</head>
<body>

    <h1>정규표현식</h1>

    <p>
        정규표현식(Regular Expression : REGEX / REGEXP)이란, <br>
        특정 패턴을 가진 문자열을 찾거나 또는 변경할 때 사용하는 형식 언어 <br>
        정규표현식을 사용하면 문자열에 대해서 특정 패턴 조건검사를 하거나 또는 변경할 때 <br>
        복잡한 조건문 / 반복문 을 사용하지 않고 간단하게 처리할 수 있음 <br>
        자바스크립트 뿐만 아니라 자바/오라클 등 다른 언어들에서도 사용 사능 <br>
    </p>

    <hr>

    <h3> * 정규표현식 객체 생성 및 정규 표현식과 관련된 메소드들</h3>

    <div id="area1" class="area"></div>
    <button onclick="test1();">나는 정규표현식이야</button>

    <script>
        function test1(){

            // 정규표현식 객체 생성 == 정규식 변수 선언!
            const regExp = new RegExp('secom'); // 방법1
            const regExp2 = /lunch/;         // 방법2
            // 검색조건으로 삼고자 하는 문자열 또는 패턴 제시

            console.log(regExp);
            console.log(regExp2);

            /*
                정규표현식 객체가 제공하는 메소드 => 정규표현식객체.메소드명(검사할문자열);
                - 정규식.test(문자열) : 문자열에서 정규식값과 일치하는 값이 있다면 true / 없다면 false
                - 정규식.exec(문자열) : 문자열에서 정규식값과 일치하는 값이 있다면
                                        처음 매칭된 문자열을 반환 / 없다면 null 반환
                
                string객체에서 제공하는 메소드 => 검사할문자열.메소드(정규표현식객체);
                - 문자열.match(정규식) : 문자열에서 정규식값과 "일치하는 값"을 찾아서 반환
                - ***문자열.search(정규식) : 문자열에서 정규식값과 "일치하는 시작 인덱스의 값"을 반환
                                        / 일치하는게 없다면 -1
                - 문자열.replace(정규식, 바꿀값) : 문자열에서 정규식값과 일치하는 첫 번째 값을 바꿀 값으로
                                                변경해서 반환
                - 문자열.split(정규식) : 정규식에서 지정된 값을 구분자로 쪼개서 요소가 담겨있는 배열로 반환
            
            */

            // 비교할 문자열
            const str1 = 'breakfast 아침 점심 lunch dinner 저녁';
            const str2 = 'Java JavaScript Oracle HTML CSS';

            const divEl = document.getElementById('area1');

            divEl.innerHTML += `regExp2.test(str1) : ${regExp2.test(str1)} <br>`;
            divEl.innerHTML += `regExp2.test(str2) : ${regExp2.test(str2)} <br>`;

            // 문자열 메소드
            divEl.innerHTML += `str1.match(regExp2) : ${str1.match(regExp2)} <br>`;
            divEl.innerHTML += `str1.search(regExp2) : ${str1.search(regExp2)} <br>`;
            divEl.innerHTML += `str1.replace(regExp2, 바꿀값) : ${str1.replace(regExp2, '점심')} <br>`;
        }
    </script>

    <hr>

    <h3>* 메타문자</h3>

    <p>
        메타문자를 이용하여 정규표현식으로 "검색조건으로 삼을 특정 패턴"을 만들 수 있음 <br>
        문자열이 해당 정규식으로 제시한 패턴에 만족하는지 <br>
        => test()통해 검사하거나 replace()을 이용해서 치환
    </p>

    <button onclick="test2();">실행</button>
    <div id="area2" class="area"></div>

    <script>
        function test2(){

            const divEl = document.getElementById('area2');

            let regExp = /a/;

            // 비교할 문자열
            const str = 'javascript jquery ajax';

            divEl.innerHTML += `/a/ : ${regExp.test(str)}<br>`;
            divEl.innerHTML += `/a/ : ${str.replace(regExp, '***')}<br>`;
            // 기본적으로 replace는 치환할 때 일치하는 값들 중 첫 번째 값만 바꿔줌

            // * 메타문자 *
            // 1. ^ : 시작을 의미 => CSS속성선택자 ^= 해당값으로 "시작"하는 경우
            regExp = /^j/; // 문자열이 소문자 j로 "시작하는 경우"
            
            divEl.innerHTML += `/^j/ : ${regExp.test(str)}<br>`;    // true
            divEl.innerHTML += `/^j/ : ${regExp.test('abcdefg')}<br>`; // false

            // 2. [] : []안에 있는 문자 중 하나라도 존재할 경우
            regExp = /[abc]/; // 문자열 중 a또는 b또는 c가 하나라도 존재할 경우

            divEl.innerHTML += `/[abc]/ : ${regExp.test(str)}<br>`;             // true
            divEl.innerHTML += `/[abc]/ : ${regExp.test('ffffvvvvvppppp')}<br>`; // false

            // 문자열 시작값이 j또는 a또는 s인가
            // if(문자열.charAt(0) == 'j' || 문자열.charAt(0) == 'a' || 문자열.charAt(0) == 's')
            regExp = /^[jas]/;

            divEl.innerHTML += `/[jas]/ : ${regExp.test(str)}<br>`;

            // 3. $ : 끝을 의미
            regExp = /x$/; // 문자열이 x로 끝나는지 비교할 목적
            
            divEl.innerHTML += `/x$/ : ${regExp.test(str)}<br>`;

            // 시작값은 j이고 끝값은 x인지
            regExp = /^jx$/;

            divEl.innerHTML += `/^jx$/ : ${regExp.test(str)}<br>`;  // false
            divEl.innerHTML += `/^jx$/ : ${regExp.test('jx')}<br>`; // jx만 true

            // 4. . : 개행문자를 제외한 모든 문자를 의미(영문자, 숫자, 한글, 특수문자 등등..)
            // 5. + : 한 글자 이상을 의미(0글자 X)

            // 시작부터 끝까지 오로지 숫자값으로만 이루어진 경우

            regExp = /^[0123456789]+$/; // 숫자의 개수는 상관이 없는데 1글자 이상이어야함!
            regExp = /^[0-9]+$/;

            divEl.innerHTML += `/^[0-9]+$/ : ${regExp.test('128351654664')}<br>`;
            divEl.innerHTML += `/^[0-9]+$/ : ${regExp.test('222,222')}<br>`;

            // a부터 z까지 a-z // A-Z

            regExp = /^[a-zA-Z]+$/; // 문자열의 길이는 상관없음 단 최소한 한글자 이상이어야하고
                                    // 시작부터 끝까지 오로지 영문자(대문자, 소문자)로만 이루어진 경우
                                    // +가 없다면 딱 한글자만 찾는다
                                    
            // 영문자, 숫자로만 입력하세요
            regExp = /^[a-zA-Z0-9]+$/;
            divEl.innerHTML += `/^[a-zA-Z0-9]+$/ : ${regExp.text('jfasdf1331')}<br>`;
            divEl.innerHTML += `/^[a-zA-Z0-9]+$/ : ${regExp.test('asdfas한3r3')}<br>`;

            // 시작부터 끝까지 한글(자음, 모음, 결합?)로만 이루어진 경우
            regExp = /^[ㄱ-ㅎㅏ-ㅣ가-힣]+$/
            divEl.innerHTML += `/^[ㄱ-ㅎㅏ-ㅣ가-힣]+$/ : ${regExp.test('ㅇㄹㄴ훟ㅎ놩')}<br>`;
          
        }
    </script>

    <hr>

    <h3>* 플래그문자</h3>

    <p>
        /정규표현식/ 뒤에 써줌 <br><br>

        종류 <br>
        i : 대/소문자를 구분하지 않고 비교를 수행 <br>
        g : 문자열 내의 모든 패턴을 검사하겠다.(전역으로 비교하겠다) <br>
        m : 여러 줄 비교를 수행하겠다.
    </p>

    <button onclick="test3();">실행</button>

    <script>
        function test3(){

            // 비교할 문자열
            const str = 'JavaScript jQuery AJAX';

            // 정규표현식 객체
            let regExp = /a/;
            console.log(str.replace(regExp, 'ㅋㅎㅋㅎ'));

            regExp = /a/g;
            console.log(str.replace(regExp, 'ㅋㅎㅋㅎ'));

            regExp = /a/ig;
            console.log(str.replace(regExp, 'ㅋㅎㅋㅎ'));

            const value = '바보ㅋㅋㅋㅋ\n홍길동바보ㅋㅋㅋ\nAAA';

            regExp = /AAA/g;
            console.log(value.replace(regExp, 'ㅋㅎㅋㅎ'));
        }
    </script>
    
    <hr>

    <h3>* 정규표현식을 이용해서 주민번호 확인</h3>

    주민번호 : <input type="text" id="pno">
    <button onclick="test4();">확인</button>

    <script>
        function test4(){

            const value = document.getElementById('pno').value;

            // 생년월일-성별지역순서랜덤값
            //       6-7

            // 1단계 : 6글자-7글자
            // . : 개행문자를 제외한 모든 문자 중 1개
            let regExp = /^......-.......$/

            // 2단계 : 숫자여야함
            regExp = /^[0-9][0-9][0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9][0-9][0-9][0-9]$/;
            /*
                * 메타문자
                \d : 숫자(==[0-9])
                \D : 숫자를 제외한 모든 문자
                \w : 영문자, 숫자, _(==[a-zA-Z0-9_])
                \W : 영문자, 숫자, _를 제외한 모든 문자
                \s : 공백문자(스페이스, 탭, 줄바꿈)
                \S : 공백문자를 제외한 모든 문자
            */

            regExp = /^\d\d\d\d\d\d-[1-4]\d\d\d\d\d\d$/;
            /*
                * 수량 문자
                + : 최소한 1글자 이상
                * : 0글자 이상(0글자 가능)
                ? : 0글자 또는 1글자(2자 이상은 불가능)

                {6} : 6글자
                {2, 5} : 2글자 이상 5글자 이하
                {2, } : 2글자 이상
                {, 5} : 5글자 이하

            */
            
            regExp = /^\d{6}-[1-4]\d{6}$/;

            // 3단계 : 월 / 일
            /*
                - 생년(두자리) : \d{2}
                그룹핑(경우1| 경우2)
                - 월(두자리)   : 앞자리가 0일 경우 뒷자리가 1 ~ 9까지 가능
                                 앞자리가 1일 경우 뒷자리가 0 ~ 2까지 가능
                                (0[1-9]|1[0-2])
                - 일(두자리)   : 앞자리가 0일 경우 뒷자리가 1 ~ 9까지 가능
                                앞자리가 1 또는 2일 경우 뒷자리가 0 ~ 9까지 가능
                                앞자리가 3일 경우 뒷자리가 0 ~ 1
                                (0[1-9]|[1-2][0-9]|3[0-1])

            */              
            
            regExp = /^\d{2}(0[1-9]|1[0-2])(0[1-9]|[1-2]|[0-9]|3[0-1])-[1-4]\d{6}$/;
            
        }
    </script>
























    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>