<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">

        <input type="text" id="input1">
        <button type="submit">뻐튼</button>
        <p id="text1">테스트1234asdf</p>
    </form>
    
</body>
</html>
<script>
    const input1 = document.getElementById('input1').value;
    console.log(input1);

    const text1 = document.getElementById('text1'); 
    

    regExp = /^[0-9]+$/;
    

    reg1 = /^[a-zA-Z가-힣]+$/;
    //console.log(reg1.test('테스트asdfas아아')); // true

    const regEngNum = /^[a-zA-Z0-9]{6,20}$/;
    const regKor = /^[가-힣]{2,20}$/;
    const regPhone = /^[0-9]{11}$/;

    const regexr = /^[A-Za-z0-9]{4,10}$/;
    // console.log(regKor.test('안asfd녕')); // false
    
    // console.log(regexr.test('121563')); true
    //console.log(regEngNum.test('hi153a4565123456#'));
    //console.log(regPhone.test('010111222'));
    
    const testString = 'sdflkjla33ks';
    const regInput = /^[가-힣]+$/;

    console.log(regEngNum.test(testString));
    
    
    
    
    
</script>