
/* 섹션 스타일 */
.slider-section {
    padding: 50px 0px;
    text-align: center;
    width: 1200px; /* 내용 부분을 1200px로 고정 */
}

.slider-title {
    font-size: 2em;
    margin-bottom: 10px;
}

.slider-description {
    font-size: 1em;
    margin-bottom: 30px;
    color: #555;
}

/* 슬라이더 컨테이너 */
.slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

/* 카드 */
.card-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out; 
    gap: 20px;
    margin-left: 100px;
}

/* 각 카드 */
.card {
    flex: 0 0 350px; 
    background-color: #326044;
    color: #fff;
    border-radius: 12px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    flex: 0 0 300px;
}

.card-image {
    width: 100%;
    height: 170px;
    background-color: #e6e1e1;
    margin-bottom: 15px;
    border-radius: 8px;
}

/* 슬라이더 버튼 스타일 */
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 18px;
    color: #326044;
    z-index: 100;
}

.left-btn {
    left: 30px;
}

.right-btn {
    right: 10px;
}

.slider-btn:hover {
    background-color: #60B557;
}


.card-detail {
    color: #326044;
    text-decoration: none;
    border: none;
    padding: 8px 12px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
}