<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.AllThatTrip.member.model.vo.Member" alias="member" />
		<typeAlias type="com.kh.AllThatTrip.board.model.vo.Board" alias="board" />
		<typeAlias type="com.kh.AllThatTrip.admin.model.vo.AdNotice" alias="adNotice" />
		<typeAlias type="com.kh.AllThatTrip.admin.model.vo.Admin" alias="admin" />
		<typeAlias type="com.kh.AllThatTrip.camp.model.vo.Camp" alias="camp" />
		<typeAlias type="com.kh.AllThatTrip.camp.model.vo.Room" alias="room" />
		<typeAlias type="com.kh.AllThatTrip.camp.model.vo.RoomTheme" alias="roomTheme" />
		<typeAlias type="com.kh.AllThatTrip.camp.model.vo.RoomImg" alias="roomImg" />
	</typeAliases>

	<mappers>
		<mapper resource="/mapper/member-mapper.xml" />
		<mapper resource="/mapper/board-mapper.xml" />
		<mapper resource="/mapper/ad-mapper.xml" />
		<mapper resource="/mapper/camp-mapper.xml" />
		<mapper resource="/mapper/room-mapper.xml" />
	</mappers>
	

</configuration>

  	
