<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.AllThatTrip.admin.model.dao.AdminMapper">
	
	<sql id="adNoticeColumn">
		SELECT
			   AD_NOTICE_NO adNoticeNo,
			   AD_NOTICE_TITLE adNoticeTitle,
			   AD_NOTICE_CONTENT adNoticeContent,
			   AD_ORI_NAME adOriName,
			   AD_CHA_NAME adChaName,
			   AD_WRITER adWriter,
			   AD_NOTICE_COUNT adNoticeCount,
			   IMPORTENT,
			   TO_CHAR(AD_UPLOAD_DATE, 'YYYY-MM-DD') as adUploadDate
		  FROM
		       TB_AD_NOTICE
		 WHERE
		       AD_STATUS = 'N'      			   
	</sql>
	
	
	
	<select id="selectTotalCount" resultType="_int">
		SELECT 
			   COUNT(*) 
		  FROM 
			   TB_AD_NOTICE 
		 WHERE 
			   AD_STATUS = 'N'

	</select>
	
	<select id="selectAdNoticeList" resultType="adNotice">
		<include refid="adNoticeColumn"/>
		ORDER
		   BY
		      AD_NOTICE_NO DESC
	</select>
	
	<insert id="insertAdNotice" parameterType="adNotice">
		INSERT
		  INTO
		       TB_AD_NOTICE
			   (
			   AD_NOTICE_NO,
			   AD_NOTICE_TITLE,
			   AD_NOTICE_CONTENT,
			   AD_ORI_NAME,
			   AD_CHA_NAME,
			   AD_WRITER,
			   IMPORTENT
			   )
		VALUES			   
			   (
			   SEQ_AD_NNO.NEXTVAL,
			   #{adNoticeTitle},
			   #{adNoticeContent},
			   #{adOriName},
			   #{adChaName},
			   #{adWriter},
			   #{importent}
			   )		       
	</insert>
	
	<update id="increaseCount" parameterType="long">
		UPDATE
		       TB_AD_NOTICE
		   SET
		       AD_NOTICE_COUNT = AD_NOTICE_COUNT + 1
		 WHERE
		       AD_STATUS ='N'
		   AND
		       AD_NOTICE_NO = #{adNoticeNo}              
	</update>
	<select id="selectById" parameterType="long" resultType="adNotice">
		<include refid="adNoticeColumn"/>
		AND
		    AD_NOTICE_NO = #{adNoticeNo}
	</select>
	
	<update id="deleteAdNotice" parameterType="adNotice">
		UPDATE
		       TB_AD_NOTICE
		   SET
		       AD_STATUS ='Y'
		 WHERE
		       AD_STATUS ='N'          
		   AND
		       AD_NOTICE_NO = #{adNoticeNo}
	</update>
	
	<update id="updateAdNotice" parameterType="adNotice">
		UPDATE
		       TB_AD_NOTICE
		   SET
		       AD_NOTICE_TITLE = #{adNoticeTitle},
		       AD_NOTICE_CONTENT = #{adNoticeContent},
		       AD_ORI_NAME = #{adOriName},
		       AD_CHA_NAME = #{adChaName}
		 WHERE
		       AD_NOTICE_NO = #{adNoticeNo}
		   AND
		       AD_STATUS = 'N'          
	</update>
	<select id="adLogin" parameterType="admin" resultType="admin">
	SELECT
		   AD_ID	adId,
		   AD_PWD 	adPwd,
		   AD_NAME  adName,
		   LEAVE,
		   ADD_AD_DATE addAdDate,
		   AD_LEVEL adLevel
	  FROM
	  	   TB_ADMIN
	 WHERE
	 	   LEAVE = 'N'
	   AND
	   	   AD_ID = #{adId}
	   AND
	   	   AD_PWD = #{adPwd}
	  	   
</select>
</mapper> 