<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.AllThatTrip.admin.model.dao.AdminMapper">
	
	<sql id="adNoticeColumn">
		SELECT
			   AD_NOTICE_NO adNoticeNo,
			   AD_NOTICE_TITLE adNoticeTitle,
			   AD_NOTICE_CONTENT adNoticeContent,
			   AD_ORI_NAME adOriName,
			   AD_CHA_NAME adChaName,
			   AD_WRITER adWriter,
			   AD_NOTICE_COUNT adNoticeCount,
			   IMPORTENT,
			   TO_CHAR(AD_UPLOAD_DATE, 'YYYY-MM-DD') as adUploadDate
		  FROM
		       TB_AD_NOTICE
		 WHERE
		       AD_STATUS = 'N'      			   
	</sql>
	<sql id="membersColumn">
		SELECT
		       USER_NO userNo,
		       USER_NAME userName,
		       USER_ID userId,
		       USER_PWD userPwd,
		       EMAIL,
		       PHONE,
		       TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') as enrollDate,
		       SPAM,
		       STATUS,
		       LOGIN_COUNT loginCount
		  FROM
		       MEMBER
	</sql>
	<sql id="boardsColumn">
		SELECT
			   B.BOARD_NO AS boardNo,
			   B.BOARD_TYPE AS boardType,
			   B.COUNT AS count, 
			   M.USER_ID boardWriter,
			   B.BOARD_TITLE boardTitle,
			   TO_CHAR(B.CREATE_DATE, 'YYYY-MM-DD') as createDate,
			   B.STATUS status 		
		  FROM
		       BOARD B
		  JOIN
		       MEMBER M  
		  	ON
		       B.USER_NO = M.USER_NO
		      
	</sql>
	<select id="memberFindAll" resultType="com.kh.AllThatTrip.member.model.vo.Member">
		<include refid="membersColumn"/>
		ORDER
		   BY
		      USER_NO DESC
	
	
	</select>
	<select id="selectMemberId" resultType="com.kh.AllThatTrip.member.model.vo.Member">
		<include refid="membersColumn"/>
		 WHERE
		       USER_ID = #{userId}
		       
	</select>
	<select id="selectMember" resultType="com.kh.AllThatTrip.member.model.vo.Member">
		<include refid="membersColumn"/>
		WHERE
		      STATUS = 'Y'
		ORDER
		   BY
		      USER_ID DESC      
		      
	</select>	
	<select id="selectDeleteMember" resultType="com.kh.AllThatTrip.member.model.vo.Member">
		<include refid="membersColumn"/>
		WHERE
		      STATUS = 'N'
		ORDER
		   BY
		      USER_NO DESC      
	
	</select>
	
	<select id="selectNewMember" resultType="com.kh.AllThatTrip.member.model.vo.Member">
		<include refid="membersColumn"/>
		ORDER
		   BY
		      ENROLL_DATE DESC   
	
	</select>
	
	<select id="selectOldMember" resultType="com.kh.AllThatTrip.member.model.vo.Member">
		<include refid="membersColumn"/>
		ORDER
		   BY
	          ENROLL_DATE
	</select>
	<update id="deleteMember" parameterType="String" >
		UPDATE
			   MEMBER
		   SET
		   	   STATUS = 'N'
		 WHERE   	   	   
			   STATUS = 'Y'
		   AND
		       USER_ID = #{userId}	   
	</update>
	<update id="unDeleteMember" parameterType="String">
		UPDATE
		       MEMBER
		   SET
		       STATUS = 'Y'
		 WHERE
		       STATUS = 'N'
		   AND
		       USER_ID = #{userId}               
	
	</update>
	<update id="spamMember" parameterType="String">
		UPDATE
		       MEMBER
		   SET
		       SPAM = '0'
		 WHERE
		       SPAM = '1'
		   AND
		       USER_ID = #{userId}           
	
	</update>
	<update id="unSpamMember" parameterType="String">
		UPDATE
		       MEMBER
		   SET
		       SPAM = '1'
		 WHERE
		       SPAM = '0'
		   AND
		       USER_ID = #{userId}           
	
	</update>
	<update id="updatePasswordMember" parameterType="member">
		UPDATE
		       MEMBER
		   SET
		       USER_PWD = #{userPwd}
		 WHERE
		       USER_ID = #{userId}           
	
	</update>
	<update id="resetCount" parameterType="String">
		UPDATE
			   MEMBER
		   SET
		       LOGIN_COUNT = 0	   
		 WHERE
		       LOGIN_COUNT = 5
		   AND
		       USER_ID = #{userId}
	</update>	

	<select id="selectTotalCount" resultType="_int">
		SELECT 
			   COUNT(*) 
		  FROM 
			   TB_AD_NOTICE 
		 WHERE 
			   AD_STATUS = 'N'
			   

	</select>
	
	<select id="selectAdNoticeList" resultType="adNotice">
		<include refid="adNoticeColumn"/>
		ORDER
		   BY
		      AD_NOTICE_NO DESC
	</select>
	
	<insert id="insertAdNotice" parameterType="adNotice">
		INSERT
		  INTO
		       TB_AD_NOTICE
			   (
			   AD_NOTICE_NO,
			   AD_NOTICE_TITLE,
			   AD_NOTICE_CONTENT,
			   AD_ORI_NAME,
			   AD_CHA_NAME,
			   AD_WRITER,
			   IMPORTENT
			   )
		VALUES			   
			   (
			   SEQ_AD_NNO.NEXTVAL,
			   #{adNoticeTitle},
			   #{adNoticeContent},
			   #{adOriName},
			   #{adChaName},
			   #{adWriter},
			   #{importent}
			   )		       
	</insert>
	
	<update id="increaseCount" parameterType="long">
		UPDATE
		       TB_AD_NOTICE
		   SET
		       AD_NOTICE_COUNT = AD_NOTICE_COUNT + 1
		 WHERE
		       AD_STATUS ='N'
		   AND
		       AD_NOTICE_NO = #{adNoticeNo}              
	</update>
	<select id="selectById" parameterType="long" resultType="adNotice">
		<include refid="adNoticeColumn"/>
		AND
		    AD_NOTICE_NO = #{adNoticeNo}
	</select>
	
	<update id="deleteAdNotice" parameterType="adNotice">
		UPDATE
		       TB_AD_NOTICE
		   SET
		       AD_STATUS ='Y'
		 WHERE
		       AD_STATUS ='N'          
		   AND
		       AD_NOTICE_NO = #{adNoticeNo}
	</update>
	
	<update id="updateAdNotice" parameterType="adNotice">
		UPDATE
		       TB_AD_NOTICE
		   SET
		       AD_NOTICE_TITLE = #{adNoticeTitle},
		       AD_NOTICE_CONTENT = #{adNoticeContent},
		       AD_ORI_NAME = #{adOriName},
		       AD_CHA_NAME = #{adChaName},
		       IMPORTENT = #{importent}
		 WHERE
		       AD_NOTICE_NO = #{adNoticeNo}
		   AND
		       AD_STATUS = 'N'          
	</update>
	<select id="adLogin" parameterType="admin" resultType="admin">
	SELECT
		   AD_ID	adId,
		   AD_PWD 	adPwd,
		   AD_NAME  adName,
		   LEAVE,
		   ADD_AD_DATE addAdDate,
		   AD_LEVEL adLevel
	  FROM
	  	   TB_ADMIN
	 WHERE
	 	   LEAVE = 'N'
	   AND
	   	   AD_ID = #{adId}
	   AND
	   	   AD_PWD = #{adPwd}
	  	   
</select>
  <select id="selectAdReplyList" parameterType="_int" resultType="com.kh.AllThatTrip.admin.model.vo.AdReply">
  	SELECT
  	       AD_REP_NO adRepNo,
  	       AD_REP_NAME adRepName,
  	       AD_REP_CONTENT adRepContent,
  	       TO_CHAR(AD_CREATE_DATE, 'YYYY-MM-DD') AS adCreateDate
  	  FROM      
  		   TB_AD_REPLY
	 WHERE  		   	
	       AD_STATUS ='N'
	   AND
	       AD_NOTICE_REP_NO = #{adNoticeNo}
	 ORDER
	    BY
	       AD_REP_NO DESC           
  </select>
   <insert id="insertAdReply" parameterType="com.kh.AllThatTrip.admin.model.vo.AdReply">
  	INSERT
  	  INTO
  	       TB_AD_REPLY
  	       (
  	       AD_REP_NO,
  	       AD_REP_CONTENT,
  	       AD_REP_NAME,
  	       AD_NOTICE_REP_NO
  	       )
    VALUES
  		   (
  		   SEQ_AD_RNO.NEXTVAL,
  		   #{adRepContent},
  		   #{adRepName},
  		   #{adNoticeRepNo}
  		   )
  </insert>
  <select id="boardFindAll" resultType="com.kh.AllThatTrip.board.model.vo.Board">
  		   <include refid="boardsColumn"/>
	  		WHERE
			      B.STATUS = 'Y'
			ORDER
			   BY
			      B.BOARD_NO DESC 
  
  </select>
</mapper> 