<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.AllThatTrip.member.model.dao.MemberMapper"> 

<select id="login" parameterType="member" resultType="member">
	SELECT
		   USER_NO 	userNo,
		   USER_ID 	userId,
		   USER_PWD userPwd,
		   USER_NAME userName,
		   EMAIL,
		   PHONE,
		   SPAM,
		   STATUS,
		   ENROLL_DATE enrollDate
	  FROM
	  	   MEMBER
	 WHERE
	 	   STATUS = 'Y'
	   AND
	   	   USER_ID = #{userId}
</select>

<select id="deletedUser" parameterType="member" resultType="member">
	SELECT
		   USER_NO 	userNo,
		   USER_ID 	userId,
		   USER_PWD userPwd,
		   USER_NAME userName,
		   EMAIL,
		   PHONE,
		   SPAM,
		   STATUS,
		   ENROLL_DATE enrollDate
	  FROM
	  	   MEMBER
	 WHERE
	 	   STATUS = 'N'
	   AND
	   	   USER_ID = #{userId}
</select>


<insert id="join" parameterType="member">
	INSERT
	  INTO
	  	   MEMBER
	  	   (
	  	   USER_NO,
	  	   USER_ID,
	  	   USER_PWD,
	  	   USER_NAME,
	  	   EMAIL,
	  	   PHONE,
	  	   SPAM,
	  	   STATUS,
	  	   ENROLL_DATE,
	  	   LOGIN_COUNT
	  	   )
	VALUES
		   (
		   SEQ_UNO.NEXTVAL,
		   #{userId},
		   #{userPwd},
		   #{userName},
		   #{email},
		   #{phone},
		   #{spam},
		   DEFAULT,
		   DEFAULT,
		   1
		   )

</insert>

<select id="checkId" resultType="_int">
	SELECT
		   COUNT(*)
      FROM	
           MEMBER
     WHERE
     	   USER_ID = #{userId}
       AND	
           STATUS = 'Y'
</select>

<update id="memberUpdate" parameterType="member">
	UPDATE
		   MEMBER
	   SET
	   	   USER_PWD = #{userPwd},
	   	   USER_NAME = #{userName},
	   	   EMAIL = #{email},
	   	   PHONE = #{phone},
		   SPAM = #{spam}
     WHERE
     	   USER_ID = #{userId}
       AND
       	   STATUS = 'Y'
</update>

<update id="memberDelete" parameterType="member">
	UPDATE
		   MEMBER
	   SET
	   	   STATUS = 'N'
	 WHERE	
	       USER_ID = #{userId}
</update>

<select id="findId" parameterType="String" resultType="String">
	SELECT
		   USER_ID 	userId
	  FROM	
	       MEMBER
	 WHERE
	 	   USER_NAME = #{userName}
	   AND
	       STATUS = 'Y'
</select>

<select id="findPwd" parameterType="member" resultType="member">
	SELECT
		   USER_ID 	userId,
		   USER_PWD userPwd,
		   USER_NAME userName,
		   EMAIL,
		   PHONE,
		   SPAM,
		   STATUS
	  FROM
	  	   MEMBER
	 WHERE
	   	   USER_ID = #{userId}
	   AND
	   	   EMAIL = #{email}
	   AND
	   	   STATUS = 'Y'	   
</select>

<select id="findRsv" parameterType="member" resultType="hashmap">
	SELECT
	       m.USER_NAME,
	       u.ROOM_NAME,
	       u.ROOM_PRICE,
	       u.ROOM_IMG
	  FROM
	       USER_RES_ROOM u
	  FULL
	 OUTER
	  JOIN
	       MEMBER m
	    ON
	       m.USER_ID = u.USER_ID
	 WHERE
	 	   u.USER_ID = #{userId}
	 ORDER
	    BY
	       RES_NO ASC
</select>

<select id="findRoom" parameterType="room" resultType="hashmap">
	SELECT
           R.ROOM_NAME,
           R.ROOM_PRICE,
           I.CHANGE_NAME
      FROM  
           ROOMS R, ROOM_IMG I
     WHERE
           I.ROOM_NO = ${roomNo}
       AND
           R.ROOM_NO = ${roomNo}
       AND
           ROWNUM = 1
</select>

<insert id="saveCart" parameterType="HashMap">
	INSERT
	  INTO
	       CART
	       (
	       ROOM_NAME,
	       ROOM_PRICE,
	       CHANGE_NAME
	       )   
	VALUES
	       (
	       #{ROOM_NAME},
	       #{ROOM_PRICE},
	       #{CHANGE_NAME}
	       )   
</insert>

<select id="findCart" resultType="HashMap">
	SELECT
		   ROOM_NAME,
		   ROOM_PRICE,
		   CHANGE_NAME
	  FROM
	       CART
</select>

<update id="deleteCart">
	DELETE FROM CART
</update>

<update id="increaseLoginCount" parameterType="member">
	UPDATE
		   MEMBER
	   SET
	       LOGIN_COUNT = LOGIN_COUNT + 1
	 WHERE
	  	   USER_ID = #{userId}
</update>

<update id="rollbackCount" parameterType="member">
	UPDATE
		   MEMBER
	   SET
	   	   LOGIN_COUNT = 0
	 WHERE
	 	   USER_ID = #{userId}
</update>

<update id="loginFullCount" parameterType="member">
	UPDATE
		   MEMBER
	   SET
	   	   STATUS = 'N'
	 WHERE
	 	   USER_ID = #{userId}
</update>

<select id="countCheck" parameterType="member" resultType="member">
	SELECT
	       LOGIN_COUNT loginCount
	  FROM
	  	   MEMBER
	 WHERE
	 	   USER_ID = #{userId}
</select>











</mapper> 