<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.AllThatTrip.member.model.dao.MemberMapper"> 

<select id="login" parameterType="member" resultType="member">
	SELECT
		   USER_NO 	userNo,
		   USER_ID 	userId,
		   USER_PWD userPwd,
		   USER_NAME userName,
		   EMAIL,
		   PHONE,
		   SPAM,
		   STATUS,
		   ENROLL_DATE enrollDate
	  FROM
	  	   MEMBER
	 WHERE
	 	   STATUS = 'Y'
	   AND
	   	   USER_ID = #{userId}
	   AND
	   	   USER_PWD = #{userPwd}
	  	   
</select>















</mapper> 