<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.kh.AllThatTrip.camp.model.dao.RoomMapper">
 	
 	<insert id="insertRoom" parameterType="room">
 		INSERT 
 		  INTO 
 		       ROOMS 
 		       (
 		       ROOM_NO, 
 		       CAMP_NO, 
 		       ROOM_TYPE_NO, 
 		       ROOM_NAME, 
 		       ROOM_DESC, 
 		       ROOM_PRICE
 		       ) 
 		VALUES 
 		       (
 		       SEQ_ROOM_NO.NEXTVAL, 
 		       #{campNo}, 
 		       #{roomTypeNo}, 
 		       #{roomName}, 
 		       #{roomDesc}, 
 		       #{roomPrice}
 		       )
 	</insert>
 	
 	<insert id="insertRoomTheme" parameterType="_int">
 		INSERT 
 		  INTO 
 		       ROOMS_THEME 
 		VALUES 
 		       (
 		       SEQ_ROOM_NO.CURRVAL, 
 		       #{themeNo}
 		       )
 	</insert>
 	
 	<insert id="insertRoomImage" parameterType="roomImg">
 		INSERT 
 		  INTO 
 		       ROOM_IMG 
 		       (
 		       IMG_NO, 
 		       ROOM_NO, 
 		       ORIGIN_NAME, 
 		       CHANGE_NAME, 
 		       FILE_LEVEL
 		       ) 
 		VALUES 
 		       (
 		       SEQ_ROOM_IMG_NO.NEXTVAL, 
 		       SEQ_ROOM_NO.CURRVAL, 
 		       #{originName}, 
 		       #{changeName}, 
 		       #{fileLevel}
 		       )
 	</insert>
 	
 	<select id="selectRoomList" resultType="room">
 		SELECT
		       ROOM_NO roomNo, 
		       CAMP_NO campNo, 
		       ROOM_TYPE_NAME roomTypeName, 
		       ROOM_NAME roomName, 
		       ROOM_DESC roomDesc, 
		       TO_CHAR(ROOM_PRICE, '999,999,999') price, 
		       COUNT, 
		       ROOMS.STATUS status
		  FROM 
		       ROOMS 
		  JOIN 
		       ROOM_TYPE USING (ROOM_TYPE_NO)
		 WHERE
		 	   ROOMS.STATUS = 'Y'
 	</select>
 	
 	<select id="selectRoomImgList" resultType="roomImg">
 		SELECT
		       ROOM_NO roomNo, 
		       ORIGIN_NAME originName,
		       CHANGE_NAME changeName,
		       FILE_LEVEL fileLevel
		  FROM
		       ROOMS
		  JOIN
		       ROOM_IMG USING (ROOM_NO)
		 WHERE
		 	   FILE_LEVEL = 1
 	</select>
 	
 	<select id="selectRoomListByCampNo" resultType="room">
 		SELECT
		       ROOM_NO roomNo, 
		       CAMP_NO campNo, 
		       ROOM_TYPE_NAME roomTypeName, 
		       ROOM_NAME roomName, 
		       ROOM_DESC roomDesc, 
		       TO_CHAR(ROOM_PRICE, '999,999,999') price, 
		       COUNT, 
		       ROOMS.STATUS status
		  FROM 
		       ROOMS 
		  JOIN 
		       ROOM_TYPE USING (ROOM_TYPE_NO)
		 WHERE
		 	   ROOMS.STATUS = 'Y'
		   AND
		       CAMP_NO = #{campNo}
 	</select>
 	
 	<select id="selectRoomImgListByCampNo" resultType="roomImg">
 		SELECT
		       ROOM_NO roomNo, 
		       ORIGIN_NAME originName,
		       CHANGE_NAME changeName,
		       FILE_LEVEL fileLevel
		  FROM
		       ROOMS
		  JOIN
		       ROOM_IMG USING (ROOM_NO)
		 WHERE
		 	   FILE_LEVEL = 1
		   AND
		       CAMP_NO = #{campNo}		 	  
 	</select>
 	
 	<select id="selectRoomById" resultType="room">
 		SELECT
		       ROOM_NO roomNo, 
		       CAMP_NO campNo, 
		       ROOM_TYPE_NAME roomTypeName, 
		       ROOM_NAME roomName, 
		       ROOM_DESC roomDesc, 
		       ROOM_PRICE roomPrice,
		       TO_CHAR(ROOM_PRICE, '999,999,999') price,
		       COUNT, 
		       ROOMS.STATUS status
		  FROM 
		       ROOMS 
		  JOIN 
		       ROOM_TYPE USING (ROOM_TYPE_NO)
		 WHERE
		 	   ROOM_NO = #{roomNo}
		   AND
		       ROOMS.STATUS = 'Y'
 	</select>
 	
 	<select id="selectRoomThemeById" resultType="roomTheme">
 		SELECT 
 		       ROOM_NO roomNo, 
 		       THEME_NO themeNo,
 		       THEME_NAME themeName 
 		  FROM 
 		       ROOMS
 		  JOIN 
 		       ROOMS_THEME USING (ROOM_NO) 
 		  JOIN
 		  	   THEME USING (THEME_NO)
 		 WHERE 
 		       ROOM_NO = #{roomNo}
 	</select>
 	
 	<select id="selectRoomImgById" resultType="roomImg">
 		SELECT
		       ROOM_NO roomNo, 
		       ORIGIN_NAME originName,
		       CHANGE_NAME changeName,
		       FILE_LEVEL fileLevel
		  FROM
		       ROOMS
		  JOIN
		       ROOM_IMG USING (ROOM_NO)
		 WHERE
		 	   ROOM_NO = #{roomNo}
 	</select>
 	
 	<update id="updateRoom" parameterType="room">
 		UPDATE 
 		       ROOMS 
 		   SET 
 		       ROOM_NAME = #{roomName}, 
 		       ROOM_PRICE = #{roomPrice}, 
 		       ROOM_DESC = #{roomDesc} 
 		 WHERE 
 		       ROOM_NO = #{roomNo}
 	</update>
 	
 	<delete id="deleteRoomTheme" parameterType="_int">
 		DELETE 
 		  FROM 
 		       ROOMS_THEME 
 		 WHERE 
 		       ROOM_NO = #{roomNo}
 	</delete>
 	
 	<insert id="updateRoomTheme" parameterType="roomTheme">
 		INSERT 
 		  INTO 
 		       ROOMS_THEME 
 		VALUES 
 		       (
 		       #{roomNo}, 
 		       #{themeNo}
 		       )
 	</insert>
 	
 	<update id="updateRoomImage" parameterType="roomImg">
 		UPDATE 
 		       ROOM_IMG 
 		   SET 
 		       ORIGIN_NAME = #{originName}, 
 		       CHANGE_NAME = #{changeName}, 
 		       MODIFY_DATE = SYSDATE 
 		 WHERE 
 		       ROOM_NO = #{roomNo}
 		   AND 
 		       FILE_LEVEL = #{fileLevel}
 	</update>
 	
 	<update id="deleteRoom" parameterType="room">
 		UPDATE 
 		       ROOMS 
 		   SET 
 		       STATUS = 'N' 
 		 WHERE 
 		       ROOM_NO = #{roomNo} 
 		   AND 
 		       STATUS = 'Y'
 	</update>
 	
 	<select id="selectRoomListByRoomType" resultType="room">
 		SELECT
		       ROOM_NO roomNo, 
		       CAMP_NO campNo, 
		       ROOM_TYPE_NAME roomTypeName, 
		       ROOM_NAME roomName, 
		       ROOM_DESC roomDesc, 
		       TO_CHAR(ROOM_PRICE, '999,999,999') price, 
		       COUNT, 
		       ROOMS.STATUS status
		  FROM 
		       ROOMS 
		  JOIN 
		       ROOM_TYPE USING (ROOM_TYPE_NO)
		 WHERE
		 	   ROOMS.STATUS = 'Y'
		   AND
		   	   ROOM_TYPE_NO = #{id}
 	</select>
 	
 </mapper>